/* NAVIGATION BAR -------------------------------------------------- */

.container {
    position: relative;
    display: inline-block;
  }
.drop_btn .simple_btn {
    color: #5fcf80;
    padding-right: 16px;
    font-size: 16px;
    font-family: "hobo-std", sans-serif;
    border: none;
    width: 160px;
}
.menuList {
    display: none;
    position: absolute;
    background-color: white; /*#031926*/
    color: white;
    min-width: 160px;
    z-index: 1;
}
.links {
    text-align: center;
    color: #5fcf80;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border: 1px solid white;
}
.links:hover {
    background-color: white;
    color: #031926;
}