/* Profile */
.profile {
    border-style: solid;
    border-color: $light-gray;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

// adjust tile sizes on smaller screens
@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .profile {
      width: 40%;
    }

  }
}
