<div class="container">
        <a href="{{site.baseurl}}/" class="simple_btn">About</a>
        <a href="#" class="drop_btn">Research</a>
        <div class="menuList">
                <a class="links" href="{{site.baseurl}}/publications/">Publications</a>
                <a class="links" href="{{site.baseurl}}/projects/">Projects</a>
                <a class="links" href="{{site.baseurl}}/activities/">Activities</a>
        </div>
        <a href="{{site.baseurl}}/teaching/" class="simple_btn">Students</a>
        <a href="{{site.baseurl}}/blog/" class="simple_btn">Blog</a>
        <a href="{{site.baseurl}}/venue/" class="simple_btn">Venue</a>
        <a href="https://www.linkedin.com/in/lorenzocarnevale/recent-activity/shares/" target="_blank" class="simple_btn">News</a>
</div>