<div class="links scroll collapse navbar-collapse">
        <a href="{{site.baseurl}}/">About</a>
        <a href="{{site.baseurl}}/research/">Research</a>
        <a href="{{site.baseurl}}/publications/">Publications</a>
        <a href="{{site.baseurl}}/projects/">Projects</a>
        <a href="{{site.baseurl}}/activities/">Activities</a>
        <a href="{{site.baseurl}}/teaching/">Students</a>
        <a href="{{site.baseurl}}/blog/">Blog</a>
        <a href="{{site.baseurl}}/venue/">Venue</a>
        <a href="https://www.linkedin.com/in/lorenzocarnevale/recent-activity/shares/">News</a>
</div>
<br>