<div class="links scroll">
        <!-- <a href="{{site.baseurl}}/">News</a> -->
        <a href="{{site.baseurl}}/publications/">Publications</a>
        <!-- <a href="{{site.baseurl}}/projects/">Projects</a> -->
        <a href="{{site.baseurl}}/education/">Teaching</a>
        <a href="{{site.baseurl}}/calls/">Calls for Papers</a>
        <a href="{{site.baseurl}}/blog/">Blog</a>
        <!-- <a href="{{site.baseurl}}/venue/">Venue</a> -->
        <a href="{{site.baseurl}}/">About</a>
</div>
